body {
  background-color: #1A1A1A;
}

h1 {
 font-family: didot;
 font-weight: 400;
 font-style: normal;
 letter-spacing: 0em;
 text-transform: none;
 color: #ffffff;
 font-size: 2.1rem;
 margin-bottom: 0;
 font-size: 50px;
}


h2, h3, h4 {
  font-family: didot;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  color: #ffffff;
  font-size: 2.1rem;
  margin-bottom: 0;
}

a {
  font-family: didot;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  color: #ffffff;
  line-height: 1.4em;
  margin-bottom: 0;
}
a:hover {
  color: #ffffff;
}

p {
  font-family: didot;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  color: #ffffff;
  opacity: 0.9;
  line-height: 1.8rem;
  margin-bottom: 0;
}

.navbar-custom {
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #1A1A1A;
  width: 100%;
  z-index: 1000;
  opacity: 0.85;
}

.navbar-logo {
  display: block;
  margin-right: 1rem;
  margin-top: 0.1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  height: min-content;
}

.nav-item:hover::after{width:100%;}
.nav-link{transition:0.2s;color: #ffffff;}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:#ffffff;}
.dropdown-item.active, .dropdown-item:active{color:#ffffff;}
.dropdown-item:focus, .dropdown-item:hover{background:#92323F;}
.nav-item::after{content:'';display:block;width:0px;height:1.2px;background:#92323F;transition: 0.2s;}

/* ----------- CSS for the animated navbar toggler ---------- */
.icon-bar {
	width: 22px;
	height: 2px;
	background-color: #ffffff;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

.bottom-bar {
	margin-bottom: 4px
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: translateX(3px) rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: translateX(3px) rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* --------- END CSS for the animated navbar toggler --------- */














.top-banner{
  display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -12px;
      margin-top: 18px;
}

.logo-image {
  height: 50px;
    margin-left: 4px;
    padding-left: 5px;
    border-left: 1px solid black;
}
.image-container {
  display: block;
  text-align: center;
  margin-top: -22px;
}

.paragraph {
  padding-left: 85px;
  padding-right: 85px;
}

.front-page-image {
  width: 80%;
  height: auto;
  margin-top: 75px;
}

.intro-image {
  width: 20%;
  height: auto;
}

.DSGN-image {
  width: 70%;
  height: auto;
}

.work-image{
  width: 70%;
  height: auto;
}

.container{
  width: 90%;
  max-width: 100%;
    padding-right: 54px;
    padding-left: 54px;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color:#1A1A1A;
  position: relative;
}

.experience{
  margin-left: -42px;
  margin-right: -300px;
}

.toolkit-image{
  width: 70%;
  margin-top: 50px;
}

.work{
  padding-right: 0px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  padding-top: 80px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;

  padding: 0 0px;
}

.column img {
  max-width:100%;
  max-height: 100%;
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.ml7 {
  position: relative;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.image-1 {
  width: 50%;
  align-items: center;
}

.image-container1{
  background-color: #943B3C;
  display: block;
  text-align: center;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}

.container:hover .overlay {
  opacity: 0.9;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.global_size {
  padding-left: 80px;
  padding-right: 80px;
  align-items: center;
  color: #ffffff;
}
